#page-container {
    position: relative;
    min-height: 150vh;
}

#content-wrap {
    padding-bottom: 20px;
    padding-right: 50px;
}

#pre-footer{
    position:relative;
    width: 90%;
    text-align:center;
    background-color:olive;
    color :white;
    font-family:'Bradley Hand ITC';
    float:right;
    font-size:20px;
}

footer {
    position: relative;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 22px;
    background-color: darkolivegreen;
    color: white;
    text-align: center;
    float: right;
}

header {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: darkolivegreen;
    font: bold;
    font-family: 'Freestyle Script';
    font-size: 32px;
    color: white;
}

#subheading {
    background-color: olive;
    font-size: 22px;
    font-family: 'Bradley Hand ITC';
    font:bold;
    text-align:right;
}

body {
    background-color: lightgray;
    background-image: url('../Pictures/Background5.jpg');
    background-size:contain;
}

#content {
    width: 80%;
    float: right;
    min-height:500px;
    padding-right: 0;
    padding-bottom: 0;
    font-family: Georgia;
    font-size: 24px;
    text-align: center;
    margin: 30px;
    background: rgba(255, 255, 255, 0.7);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 15%;
    width: 10%;
    height: 100%;
    position: fixed;
    background-color: darkolivegreen;
    text-align: center;
    top: 65px;
    left: 10px;
    float: left;
}

li a {
    display: block;
    font-family: 'Freestyle Script';
    font-size: 25px;
    font: bold;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
}

    li a:hover {
        background-color: darkgrey;
    }

li .dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: center;
}

.dropdown-content a:hover {
   background-color: darkolivegreen;
   color: white;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.td {
    font-size: 20px;
    text-align: right;
    font: bold;
}

.txt {
    width: 250px;
    font-size: 22px;
}

.btn {
    font-size: 20px;
    align-content: center;
    width: 200px;
}

.validator {
    font-size: 20px;
    align-content: flex-start;
    background-color: #FFCCCC;
    color:maroon;
}

.img {
    width: 200px;
    height: 250px;
}

.lbl{
    font-size: 24px;
    display:inline;
}
